{:paths ["src"]
 :deps {org.projog/projog-core {:mvn/version "0.10.0"}}
 :aliases {:dev {:extra-paths ["test"]}
           :test {:extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}
 }
